.container {
    margin: 20px;
    display:grid;
    grid-template-columns: 10% 40% 15%;
    grid-template-rows: 80px 200px 80px 80px;
    grid-gap:10px;
}

.el1 {
    background: #95E612;
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 2/-1;
    grid-row:1/2;
}

.el2 {
    background: #95E612;
    padding-top: 20px;
    padding-left: 20px;
    grid-row:1/-1;
}

.el3 {
    background: #95E612;
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 2/-1;
    grid-row:2/3;
}

.el4 {
    background: #95E612;
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 2/-1;
}
.el5 {
    background: #95E612;
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 2/-1;

}